/* Wave Styling */
.waves {
    position: relative;
    width: 100%;
    /* High VH value makes it look thicker/taller on the screen */
    height: 20vh; 
    min-height: 100px;
    max-height: 180px;
    display: block;
    /* Ensure no background bleed */
    background: transparent;
}

.wave-solid { 
    fill: #C1DD93; 
    opacity: 1; 
}